

      <!-- JS here -->
      <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
      <script src="{{url_for('static', filename='js/vendor/waypoints.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap-bundle.js')}}"></script>
      <script src="{{url_for('static', filename='js/meanmenu.js')}}"></script>
      <script src="{{url_for('static', filename='js/swiper-bundle.js')}}"></script>
      <script src="{{url_for('static', filename='js/slick.js')}}"></script>
      <script src="{{url_for('static', filename='js/range-slider.js')}}"></script>
      <script src="{{url_for('static', filename='js/magnific-popup.js')}}"></script>
      <script src="{{url_for('static', filename='js/nice-select.js')}}"></script>
      <script src="{{url_for('static', filename='js/purecounter.js')}}"></script>
      <script src="{{url_for('static', filename='js/countdown.js')}}"></script>
      <script src="{{url_for('static', filename='js/wow.js')}}"></script>
      <script src="{{url_for('static', filename='js/isotope-pkgd.js')}}"></script>
      <script src="{{url_for('static', filename='js/imagesloaded-pkgd.js')}}"></script>
      <script src="{{url_for('static', filename='js/ajax-form.js')}}"></script>
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!-- scripts end here -->